<?xml version="1.0"?>
<model>
  <name>v1_vtol</name>
  <version>1.0</version>
  <sdf version='1.6'>v1_vtol.sdf</sdf>

  <author>
   <name>Bikash Kunwar</name>
   <email>bikash@gmail.com</email>
  </author>

  <description>
    This is a model of a standard VTOL quad plane by Prokura Innovations.
  </description>
</model>